$ffamily: "Roboto", sans-serif;
@media screen and(min-width: 960px) {
  html,
  body {
    height: 100%;
  }
}

@media screen and(max-width: 960px) {
  html,
  body {
    height: 100%;
    min-height: 100%;
  }
}

body {
  margin: 0;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
}

#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
.btn-custom {
  color: #fff !important;
  background: linear-gradient(
      98.69deg,
      #688e74 11.52%,
      #8ac29c 90.26%
  ) !important;
  border-radius: 14px !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  &:hover {
    opacity: 0.8;
  }
}
.date-picker {
  margin-top: 47px;
  .date-picker-input {
    width: 140px;
    height: 24px;
    background: #f5f5f6;
    border: none;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #868686;
    padding-right: 17px;
  }
}
.vc-container {
  font-family: "Roboto", sans-serif !important;
  .vc-text-sm {
    color: #333 !important;
  }
  .vc-bg-blue-600 {
    background: #688e74 !important;
  }
}

.vux-uploader_bd {
  display: flex;
  flex-flow: wrap;
  input {
    cursor: pointer;
  }
}
.vux-uploader_files {
  padding: 0;
  margin: 0;
}
.vux-uploader {
  flex: 1 1 auto;
}
.vux-uploader_input-box,
.vux-uploader_input {
  cursor: pointer;
}
.nomenclature-select {
  .vs__dropdown-toggle {
    border: none;
    border-bottom: 1px solid #000;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .vs__actions {
    display: none;
  }
  input {
    padding-left: 0;
    padding-right: 0;
    &::placeholder {
      color: #c4c4c4;
    }
  }
  .vs__selected {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
  }
  &.is-danger {
    .vs__dropdown-toggle {
      border-bottom-color: #f04124 !important;
    }
  }
}

.vue-notification-group {
  z-index: 9999 !important;
}

input.nomenclature {
  border: none;
  background: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
  font-family: $ffamily;
  &::placeholder {
    color: #c4c4c4;
  }
  &.is-danger {
    border-bottom: 1px solid #f04124 !important;
  }
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
  input {
    border: none;
    background: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    font-family: "Roboto", sans-serif;
  }
  label {
    display: block;
    text-align: left;
    color: #000;
    font-weight: bold;
    margin-bottom: 0;
    font-size: 12px;
  }
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
  .modal-dialog {
    background: #fff;
    border-radius: 1rem;
  }
  .modal-content {
    background: linear-gradient(
        90deg,
        #e1e1e1 0%,
        rgba(236, 232, 232, 0) 20.31%
    );
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
  }
  .modal-footer {
    border: none;
    button {
      border-radius: 14px;
    }
  }
}
.vs__selected-options {
  input {
    border: none !important;
  }
}
.viewer-container {
  z-index: 9999 !important;
}

.modal-dialog.subscribe-modal {
  border-radius: 16px;
  overflow: hidden;
  background: none;
}
.modal-body.subscribe-modal {
  max-width: none;
  padding: 0;
  background: none;
}

.buy-subscribe {
  .step-3 {
    .cards{
      form {
        label {
          font-size: 14px !important;
          font-weight: 600;
          color: #E0E0E0;
          margin: 0;
        }
      }
    }
  }
}

.invite-modal {
  input {
    border: none;
    background: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    font-family: "Roboto", sans-serif;
  }
  label {
    display: block;
    text-align: left;
    color: #000;
    font-weight: bold;
    margin-bottom: 0;
    font-size: 12px;
  }
}
