$ffamily: "Roboto", sans-serif;
@media screen and(min-width: 960px) {
  html,
  body {
    height: 100%;
  }
}

@media screen and(max-width: 960px) {
  html,
  body {
    height: 100%;
    min-height: 100%;
  }
  h1 {
    font-size: 25px;
  }
}

body {
  margin: 0;
}
#app {
  font-family: $ffamily;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
}

#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
.btn-custom {
  color: #fff !important;
  background: linear-gradient(
      98.69deg,
      #688e74 11.52%,
      #8ac29c 90.26%
  ) !important;
  border-radius: 14px !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  &:hover {
    opacity: 0.8;
  }
}
.date-picker {
  margin-top: 47px;
  .date-picker-input {
    width: 140px;
    height: 24px;
    background: #f5f5f6;
    border: none;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #868686;
    padding-right: 17px;
  }
}
.vc-container {
  font-family: "Roboto", sans-serif !important;
  .vc-text-sm {
    color: #333 !important;
  }
  .vc-bg-blue-600 {
    background: #688e74 !important;
  }
}

.vux-uploader_bd {
  display: flex;
  flex-flow: wrap;
  input {
    cursor: pointer;
  }
}
.vux-uploader_files {
  padding: 0;
  margin: 0;
}
.vux-uploader {
  flex: 1 1 auto;
}
.vux-uploader_input-box,
.vux-uploader_input {
  cursor: pointer;
}
.nomenclature-select {
  .vs__dropdown-toggle {
    border: none;
    border-bottom: 1px solid #000;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .vs__actions {
    display: none;
  }
  input {
    padding-left: 0;
    padding-right: 0;
    &::placeholder {
      color: #c4c4c4;
    }
  }
  .vs__selected {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
  }
  &.is-danger {
    .vs__dropdown-toggle {
      border-bottom-color: #f04124 !important;
    }
  }
}

.vue-notification-group {
  z-index: 9999 !important;
}

input.nomenclature {
  border: none;
  background: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
  font-family: $ffamily;
  &::placeholder {
    color: #c4c4c4;
  }
  &.is-danger {
    border-bottom: 1px solid #f04124 !important;
  }
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
  input {
    border: none;
    background: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    font-family: "Roboto", sans-serif;
  }
  label {
    display: block;
    text-align: left;
    color: #000;
    font-weight: bold;
    margin-bottom: 0;
    font-size: 12px;
  }
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
  .modal-dialog {
    background: #fff;
    border-radius: 1rem;
  }
  .modal-content {
    background: linear-gradient(
        90deg,
        #e1e1e1 0%,
        rgba(236, 232, 232, 0) 20.31%
    );
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
  }
  .modal-footer {
    border: none;
    button {
      border-radius: 14px;
    }
  }
}
.vs__selected-options {
  input {
    border: none !important;
  }
}
.viewer-container {
  z-index: 9999 !important;
}

.modal-dialog.subscribe-modal {
  border-radius: 16px;
  overflow: hidden;
  background: none;
  max-width: 510px;
}
.modal-body.subscribe-modal {
  max-width: none;
  padding: 0;
  background: none;
}

.buy-subscribe {
  .step-3 {
    .cards{
      form {
        label {
          font-size: 14px !important;
          font-weight: 600;
          color: #E0E0E0;
          margin: 0;
        }
      }
    }
  }
}

.edit-construction {
  label {
    font-size: 11px !important;
    font-weight: normal;
    color: #E0E0E0;
    margin: 0;
  }
  .client-checkbox {
    input {
      height: 16px !important;
    }
  }
  &__info {
    label {
      color: #E0E0E0;
    }
    input {
      border: none;
      background: none;
      border-bottom: 1px solid #E0E0E0;
      border-radius: 0;
      padding: 4px 0;
      height: 35px;
      font-family: "Roboto", sans-serif;
    }
    input.construction-name {
      color: #4F4F4F;
      font-weight: bold;
      border: none;
      text-align: center;
    }
  }
  .custom-control-label::before, .custom-control-label::after {
    top: 0 !important;
  }
  .custom-control-input:checked ~ .custom-control-label::before {
    background: #7ebf93;
    border-color: #7ebf93;
    box-shadow: 0 0 0 0.2rem rgba(#7ebf93, 0.25)
  }
  .custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    border-color: transparent;
    box-shadow: none;
  }
}

.invite-modal {
  input {
    border: none;
    background: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    font-family: "Roboto", sans-serif;
  }
  label {
    display: block;
    text-align: left;
    color: #000;
    font-weight: bold;
    margin-bottom: 0;
    font-size: 12px;
  }
}

$pink: #688e74;

.tooltip-custom {
  position: relative;
  .tooltip-html {
    position: absolute;
    content: '';
    opacity: 0;
    transition: all 0.4s ease;
    background: rgba($pink, 0.8);
    width: 230px;
    height: auto;
    font-size: 13px;
    font-weight: 300;
    top: -150%;
    left: auto;
    right: -230px;
    padding: 10px;
    border-radius: 5px;
    letter-spacing: 1px;
    transform: translateY(-20px);
    color: #fff;
    z-index: -1;
  }
  &:hover {
    .tooltip-html {
      opacity: 1;
      z-index: 15;
      transform: translateX(-2px);
    }
  }
}

@keyframes shake {
  0% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  70% {
    transform: rotate(3deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
#anim:hover {
  animation: shake 500ms ease-in-out forwards;
}


.modal-content.verify-modal-content {
  border-radius: 15px;
  label {
    width: 200px;
    text-align: left;
    margin: 0 auto;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #E0E0E0;
  }
}

.personal {
  &__form {
    .col-form-label {
      font-size: 12px;
    }
  }
}

.personal-select {
  .vs__search {
    padding: 0;
    margin: 0;
  }
  .vs__search::placeholder {
    color: #999 !important;
  }
  .vs__dropdown-toggle {
    border: none;
    min-height: 38px;
    padding-bottom: 0;
  }
  .vs__selected {
    color: #717171;
    font-size: 19px;
    font-family: $ffamily;
    padding: 0;
    margin: 0;
    border: none;
  }
  .vs__clear,
  .vs__open-indicator {
    fill: #717171 !important;
    cursor: pointer;
  }
  input {
    width: 50% !important;
    border: none !important;
  }
  .vs__selected-options {
    border-bottom: 2px solid #999999;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}

.locale-changer .v-text-field.v-text-field--solo .v-input__control {
  min-height: 45px;
}
.custom-file-input {
  .v-input {
    height: 100%;
    &__prepend-outer {
      margin: 0 !important;
      width: 100%;
      height: 100%;
    }
    &__control {
      display: none;
    }
    &__icon {
      &--prepend {
        width: 100%;
        height: 100%;
        button {
          width: 100%;
          height: 100%;
          opacity: 0;
        }
      }
    }
  }
}

.construction-settings-dialog {
  border-radius: 2px !important;
  .close-btn {
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 10;
    cursor: pointer;
    top: 20px;
    right: 20px;
    left: auto;
    @media all and(max-width: 600px){
      width: 20px;
      height: 20px;
      top: 10px;
      right: 10px;
      svg {
        max-width: 100%;
      }
    }
  }
  .v-card {
    position: relative;
    background: #F5F5F6 !important;
    padding-top: 15px;
    padding-left: 35px;
    @media all and(max-width: 960px) {
      padding-left: 0;
      padding-right: 0;
    }
    .v-card__text {
      @media all and(max-width: 960px) {
        padding-left: 0;
        padding-right: 0;
      }
    }
    .v-card__actions {
      .v-btn {
        @media all and(max-width: 480px) {
          max-width: 50%;
          width: auto !important;
          min-width: 0;
          height: 35px;
          font-size: 12px;
        }
      }
    }
    .v-input__slot {
      border-radius: 3px !important;
    }
    input {
      &::placeholder{
        color: #959595 !important;
      }
    }
    .v-input__append-inner {
      margin-top: 4px !important;
    }
    .theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control > .v-input__slot fieldset {
      color: #dadada;
    }
    button.invite {
      height: 40px !important;
      width: 100% !important;
    }
  }
  .invite-title {
    color: #868686;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
  }
  .theme--light.v-btn.v-btn--disabled:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
    background-color: #fff !important;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    border-radius: 5px;
    color: #000 !important;
    &.redCustom {
      color: #7A0303 !important;
    }
    &.greenCustom {
      color: #00670A !important;
    }
  }
  .remove-user {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    left: 10px;
    height: 100%;
    z-index: 10;
    background: rgba(255,255,255, 0.9) !important;
    padding: 15px;
  }
}

.options-list {
  border-radius: 0 !important;
  .v-list-item--active {
    color: #000;
  }
  .v-list-item {
    min-height: 40px;
    font-size: 16px;
    color: #000;
    line-height: 19px;
    font-weight: 300;
    text-align: left;
    padding-left: 54px;
    padding-right: 34px;
  }
  .v-list-item--link::before, .v-list-item--active::before {
    background: linear-gradient(90deg, rgba(242, 90, 51, 0.15) 33.39%, rgba(242, 90, 51, 0) 100%) !important;
  }
  .v-list-item--link:hover::before, .v-list-item--active::before {
    opacity: 1 !important;
  }
}