.hidden {
  display: none; }

.table {
  font-family: "Roboto", sans-serif;
  border-collapse: collapse;
  border: 1px solid #c4c4c4; }
  .table img {
    max-width: 100%;
    max-height: 100%; }
  .table tr {
    border-top: 1px solid #dadada;
    background: #fff;
    font-family: "Roboto", sans-serif;
    color: #868686;
    font-size: 14px;
    transition: 0.3s; }
    .table tr.odd {
      background: #f5f5f6; }
    .table tr td:nth-child(1) {
      border: none;
      display: flex;
      align-items: center;
      font-weight: 500; }
    .table tr.parent {
      border-top: 1px solid #c4c4c4; }
    .table tr:hover {
      background: rgba(214, 232, 206, 0.69); }
    .table tr td:nth-child(2) {
      border-left: 1px solid #dadada; }
  .table td,
  .table th {
    border-right: 1px solid #dadada;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1px 9px;
    border-top: none;
    /*width: 100%;*/
    word-break: break-word; }
  .table tbody tr td:last-child {
    font-weight: 500; }
  .table tbody tr td span.ellipsis {
    display: block;
    max-width: 85px;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
    text-overflow: ellipsis; }
  .table thead td {
    text-align: left; }
  .table thead td .ellipsis {
    max-width: 70px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    display: block;
    margin: 0 auto; }
  .table thead td:first-child {
    width: 100%; }
  .table .icon {
    margin-right: 14px;
    width: 30px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .table .no-img {
    background: #c4c4c4; }
  .table .setting-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 13px;
    cursor: pointer; }
    .table .setting-icon:hover path {
      fill: #999; }

.nomenclature-modal {
  background: #fff;
  border-radius: 18px; }
  .nomenclature-modal .modal-content {
    border-radius: 18px; }
  .nomenclature-modal .btn-custom {
    background: linear-gradient(98.69deg, #688e74 11.52%, #8ac29c 90.26%) !important;
    border-radius: 14px;
    transition: 0.3s; }
    .nomenclature-modal .btn-custom:hover {
      opacity: 0.8; }
  .nomenclature-modal .btn-close {
    border-radius: 14px; }
  .nomenclature-modal .modal-body {
    padding: 0; }
  .nomenclature-modal .body-left {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1rem; }
  .nomenclature-modal .body-right {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1rem;
    background: linear-gradient(90deg, #e1e1e1 0%, rgba(236, 232, 232, 0) 20.31%); }
  .nomenclature-modal input {
    border: none;
    background: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    font-family: "Roboto", sans-serif; }
    .nomenclature-modal input::placeholder {
      color: #c4c4c4; }

.modal-mask {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll; }

.is-danger {
  border-bottom: 1px solid #f04124 !important; }

@media all and (min-width: 768px) {
  .nomenclature-modal {
    max-width: 850px; } }
@media all and (max-width: 960px) {
  .modal-mask {
    align-items: flex-start; } }
@media all and (max-width: 768px) {
  td {
    word-break: break-word; }
    td span.ellipsis {
      max-width: 100px; } }
@media all and (max-width: 480px) {
  .nomenclature-column {
    flex-direction: column; } }
.disabled {
  pointer-events: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  cursor: not-allowed !important;
  opacity: 0.6 !important; }

.images-list-wrap {
  display: flex;
  flex-flow: wrap row;
  margin: 5px; }
  .images-list-wrap .delete-icon {
    width: 20px;
    height: 25px;
    cursor: pointer;
    position: absolute;
    top: auto;
    left: 8px;
    bottom: 8px; }

.nomenclature-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #ebebeb; }

label.title {
  display: block;
  text-align: left;
  color: #000;
  font-weight: bold;
  margin-bottom: 0;
  font-size: 12px; }

.bold {
  font-weight: bold !important; }

.custom-control-input:checked ~ .custom-control-label::before {
  background: #688e74;
  border-color: #688e74; }

.contentType {
  width: 28px;
  height: 28px;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: 0 0;
  background-repeat: no-repeat;
  margin: auto; }
  .contentType.pdf {
    background-image: url("../pdf.png"); }
  .contentType.xls, .contentType.xlsx, .contentType.csv {
    background-image: url("../xls.png"); }

/*# sourceMappingURL=table.css.map */
