@font-face {
  font-family: "h-r";
  src: url("../fonts/helvetica/HelveticaRegular/HelveticaRegular.ttf");
}
@font-face {
  font-family: "h-b";
  src: url("../fonts/helvetica/HelveticaBold/HelveticaBold.ttf");
}

$hr: "h-r", serif;
$hb: "h-b", serif;

.index-component {
  max-width: 1240px;
  margin: 0 auto;
  font-family: "h-r", serif;
  .nav-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 170px;
    &__flag {
      width: 40px;
      height: 26px;
      -webkit-background-size: contain;
      background-size: contain;
      &.ru {
        background: url("../../assets/ru-flag.jpg") 0 0 no-repeat;
      }
      &.de {
        background: url("../../assets/de-flag.jpg") 0 0 no-repeat;
      }
    }
    &__lang {
      .dropdown-toggle {
        width: 40px;
        height: 26px;
        min-width: 0;
        flex-grow: 0;
        padding: 0;
        margin: 0;
        background: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border: none;
      }
      .dropdown-item {
        padding: 0;
        margin: 3px 0;
        width: 40px;
        height: 26px;
        min-width: 0;
      }
      .dropdown-menu{
        &.show{
          min-width: 0;
          width: 44px;
          padding: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        li {
          width: auto;
        }
      }
    }
    &__menu {
      .nav {
        .nav-item{
          padding: 0.5rem 3rem;
          .nav-link {
            color: #192057;
            font-size: 14px;
            padding: 6px 0;
            position: relative;
            transition: all 0.3s;
            &:before {
              width: 24px;
              height: 1px;
              background: #192057;
              position: absolute;
              content: "";
              display: block;
              top: auto;
              bottom: -100%;
              left: 0;
              opacity: 0;
              transition: 0.3s;
            }
            &.active, &:hover {
              &:before {
                opacity: 1;
                bottom: 0;
              }
            }
          }
          &.white {
            .nav-link {
              color: #fff;
              &:before {
                background: #fff;
              }
            }
          }
        }
      }
    }
  }
  .first-block {
    width: 50%;
    text-align: left;
    margin-bottom: 320px;
    &__title {
      font-size: 107px;
      color: #1F1C4B;
      font-family: "h-b", serif;
      text-align: left;
      margin-bottom: 65px;
    }
    &__text {
      font-size: 22px;
      color: #302F4D;
      margin-bottom: 70px;
    }
  }
  .welcome {
    max-width: 50%;
    margin: 0 auto 285px;
    position: relative;
    display: flex;
    flex-direction: column;
    &__title {
      font-size: 33px;
      text-align: center;
      letter-spacing: -0.03em;
      color: #383660;
    }
    &__text {
      font-size: 18px;
      color: #383660;
      text-align: center;
      margin-top: 10px;
    }
    &:after {
      position: absolute;
      content: "";
      display: block;
      width: 188px;
      height: 166px;
      background: url("../plane.png") 0 0 no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
      right: -200px;
      top: 20px;
    }
  }
  .furniture {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    margin-left: auto;
    margin-bottom: 540px;
    text-align: left;
    &__title {
      font-size: 48px;
      color: #1F1C4B;
      font-family: $hb;
      margin-bottom: 40px;
    }
    &__text {
      font-size: 19px;
      color: #1F1C4B;
      margin-bottom: 65px;
    }
  }
  .counter-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    background: #444FD9;
    margin-bottom: 270px;
    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%;
    }
    &__title {
      font-size: 48px;
      color: #fff;
      margin-bottom: 30px;
    }
    &__text {
      font-size: 30px;
      color: #fff;
    }
  }
  .orders {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    margin-right: auto;
    margin-bottom: 510px;
    text-align: left;
    &__title {
      font-size: 48px;
      color: #1F1C4B;
      margin-bottom: 40px;
    }
    &__text {
      font-size: 19px;
      color: #1F1C4B;
      margin-bottom: 65px;
    }
  }
  .documents {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    margin-left: auto;
    margin-bottom: 516px;
    text-align: left;
    &__title {
      font-size: 48px;
      color: #1F1C4B;
      font-family: $hb;
      margin-bottom: 40px;
    }
    &__text {
      font-size: 20px;
      color: #1F1C4B;
      margin-bottom: 65px;
    }
  }
  .download {
    border: 1px solid #7C84E4;
    box-sizing: border-box;
    border-radius: 60px;
    padding: 58px 70px;
    text-align: left;
    background: url("../download-bg.jpg") calc(100% + 2px) 0 no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    &__text {
      font-size: 30px;
      color: #1F1C4B;
      margin-bottom: 30px;
      max-width: 60%;
    }
    &__btn {
      width: 176px;
      height: 57px;
      background: url("../google-play.png") 0 0 no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
      cursor: pointer;
    }
  }
}
