@font-face {
  font-family: "h-r";
  src: url("../fonts/proxima/ProximaNova-Regular.ttf"); }
@font-face {
  font-family: "h-s";
  src: url("../fonts/proxima/ProximaNova-Semibold.ttf"); }
@font-face {
  font-family: "h-b";
  src: url("../fonts/proxima/ProximaNova-Bold.ttf"); }
.index-component {
  font-family: "h-r", serif; }
  .index-component section {
    max-width: 1240px;
    margin: 0 auto; }
    .index-component section:last-child {
      max-width: none;
      margin: 0 -15px;
      background: #F5FAFF;
      padding: 47px 15px; }
    .index-component section.counter {
      max-width: none;
      margin: 0 -15px;
      padding: 0 15px;
      background: #444FD9; }
  .index-component .nav-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 162px; }
    @media all and (max-width: 840px) {
      .index-component .nav-bar {
        margin-bottom: 62px; } }
    .index-component .nav-bar__flag {
      width: 40px;
      height: 26px;
      -webkit-background-size: contain;
      background-size: contain; }
      .index-component .nav-bar__flag.ru {
        background: url("../../assets/ru-flag.jpg") 0 0 no-repeat; }
      .index-component .nav-bar__flag.de {
        background: url("../../assets/de-flag.jpg") 0 0 no-repeat; }
      .index-component .nav-bar__flag.en {
        background: url("../../assets/en-flag.jpg") 0 0 no-repeat; }
      .index-component .nav-bar__flag.fr {
        background: url("../../assets/fr-flag.jpg") 0 0 no-repeat; }
    .index-component .nav-bar__lang .dropdown-toggle {
      width: 40px;
      height: 26px;
      min-width: 0;
      flex-grow: 0;
      padding: 0;
      margin: 0;
      background: none !important;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      border: none; }
    .index-component .nav-bar__lang .dropdown-item {
      padding: 0;
      margin: 3px 0;
      width: 40px;
      height: 26px;
      min-width: 0; }
    .index-component .nav-bar__lang .dropdown-menu.show {
      min-width: 0;
      width: 44px;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      outline: none; }
    .index-component .nav-bar__lang .dropdown-menu li {
      width: auto; }
    @media all and (max-width: 1024px) {
      .index-component .nav-bar__lang {
        margin-left: auto;
        display: flex;
        justify-content: flex-end; }
        .index-component .nav-bar__lang .btn-group {
          min-width: 0; } }
    @media all and (max-width: 1024px) {
      .index-component .nav-bar__menu {
        display: none; } }
    .index-component .nav-bar__menu .nav .nav-item {
      padding: 0.5rem 45px; }
      .index-component .nav-bar__menu .nav .nav-item .nav-link {
        color: #192057;
        font-size: 14px;
        padding: 6px 0;
        position: relative;
        transition: all 0.3s;
        font-family: "h-b", serif; }
        .index-component .nav-bar__menu .nav .nav-item .nav-link:before {
          width: 24px;
          height: 1px;
          background: #192057;
          position: absolute;
          content: "";
          display: block;
          top: auto;
          bottom: -100%;
          left: 0;
          opacity: 0;
          transition: 0.3s; }
        .index-component .nav-bar__menu .nav .nav-item .nav-link.active:before, .index-component .nav-bar__menu .nav .nav-item .nav-link:hover:before {
          opacity: 1;
          bottom: 0; }
      .index-component .nav-bar__menu .nav .nav-item.white .nav-link {
        color: #fff; }
        .index-component .nav-bar__menu .nav .nav-item.white .nav-link:before {
          background: #fff; }
      @media all and (min-width: 1370px) {
        .index-component .nav-bar__menu .nav .nav-item.white.first .nav-link {
          color: inherit; }
          .index-component .nav-bar__menu .nav .nav-item.white.first .nav-link:before {
            background: #192057; } }
      @media all and (min-width: 1665px) {
        .index-component .nav-bar__menu .nav .nav-item.white.second .nav-link {
          color: inherit; }
          .index-component .nav-bar__menu .nav .nav-item.white.second .nav-link:before {
            background: #192057; } }
      @media all and (min-width: 1925px) {
        .index-component .nav-bar__menu .nav .nav-item.white.third .nav-link {
          color: inherit; }
          .index-component .nav-bar__menu .nav .nav-item.white.third .nav-link:before {
            background: #192057; } }
      @media all and (max-width: 1149px) {
        .index-component .nav-bar__menu .nav .nav-item.white.first .nav-link {
          color: inherit; }
          .index-component .nav-bar__menu .nav .nav-item.white.first .nav-link:before {
            background: #192057; } }
      @media all and (max-width: 1149px) {
        .index-component .nav-bar__menu .nav .nav-item {
          padding: 0.5rem 38px; } }
  .index-component .first-block {
    width: 50%;
    text-align: left;
    margin-bottom: 361px; }
    @media all and (max-width: 1149px) {
      .index-component .first-block {
        margin-bottom: 170px;
        padding-left: 100px; } }
    @media all and (max-width: 1024px) {
      .index-component .first-block {
        padding-left: 0; } }
    @media all and (max-width: 768px) {
      .index-component .first-block {
        width: 80%; } }
    @media all and (max-width: 480px) {
      .index-component .first-block {
        margin-bottom: 100px; } }
    @media all and (max-width: 400px) {
      .index-component .first-block {
        width: 100%; } }
    .index-component .first-block__title {
      font-size: 107px;
      line-height: 98%;
      color: #1F1C4B;
      font-family: "h-b", serif;
      text-align: left;
      margin-bottom: 83px; }
      @media all and (max-width: 1149px) {
        .index-component .first-block__title {
          font-size: 78px;
          margin-bottom: 10px; } }
      @media all and (max-width: 840px) {
        .index-component .first-block__title {
          font-size: 60px; } }
      @media all and (max-width: 768px) {
        .index-component .first-block__title {
          font-size: 40px; } }
      @media all and (max-width: 480px) {
        .index-component .first-block__title {
          font-size: 35px; } }
    .index-component .first-block__text {
      font-size: 22px;
      color: #302F4D;
      margin-bottom: 59px;
      letter-spacing: -0.03em; }
      @media all and (max-width: 1149px) {
        .index-component .first-block__text {
          margin-bottom: 30px;
          font-size: 18px; } }
      @media all and (max-width: 768px) {
        .index-component .first-block__text {
          font-size: 15px;
          width: 70%; } }
  .index-component .welcome {
    max-width: 50%;
    margin: 0 auto 271px;
    position: relative;
    display: flex;
    flex-direction: column; }
    @media all and (max-width: 1149px) {
      .index-component .welcome {
        margin-bottom: 170px; } }
    @media all and (max-width: 768px) {
      .index-component .welcome {
        max-width: 70%; } }
    @media all and (max-width: 640px) {
      .index-component .welcome {
        max-width: 80%;
        margin-bottom: 120px; } }
    @media all and (max-width: 480px) {
      .index-component .welcome {
        margin-bottom: 70px; } }
    .index-component .welcome__title {
      font-size: 33px;
      text-align: center;
      letter-spacing: -0.03em;
      color: #383660;
      font-family: "h-s", serif; }
      @media all and (max-width: 400px) {
        .index-component .welcome__title {
          font-size: 30px; } }
    .index-component .welcome__text {
      font-size: 18px;
      color: #383660;
      text-align: center;
      margin-top: 31px; }
      @media all and (max-width: 400px) {
        .index-component .welcome__text {
          font-size: 16px; } }
    .index-component .welcome .plane-container {
      position: absolute;
      content: "";
      display: block;
      width: 188px;
      height: 166px;
      right: -216px;
      top: 36px; }
      @media all and (max-width: 840px) {
        .index-component .welcome .plane-container {
          left: -216px;
          right: 0; } }
      .index-component .welcome .plane-container svg {
        max-width: 100%;
        max-height: 100%; }
  .index-component .furniture {
    display: flex;
    flex-direction: column;
    max-width: 505px;
    margin-left: auto;
    margin-bottom: 563px;
    text-align: left; }
    @media all and (max-width: 1149px) {
      .index-component .furniture {
        max-width: 50%;
        margin-bottom: 200px; } }
    @media all and (max-width: 768px) {
      .index-component .furniture {
        max-width: 80%;
        margin-bottom: 250px; } }
    @media all and (max-width: 480px) {
      .index-component .furniture {
        max-width: none;
        padding-bottom: 175px;
        margin-bottom: 0;
        position: relative; }
        .index-component .furniture:after {
          content: "";
          display: block;
          position: absolute;
          width: 200px;
          height: 170px;
          top: auto;
          left: -15px;
          bottom: 0;
          background: url("../furniture-bg.png") 0 0 no-repeat;
          -webkit-background-size: contain;
          background-size: contain; } }
    .index-component .furniture__title {
      font-size: 48px;
      color: #1F1C4B;
      font-family: "h-b", serif;
      margin-bottom: 40px; }
      @media all and (max-width: 640px) {
        .index-component .furniture__title {
          font-size: 35px;
          margin-bottom: 20px; } }
    .index-component .furniture__text {
      font-size: 19px;
      color: #1F1C4B;
      margin-bottom: 57px;
      line-height: 23px; }
      @media all and (max-width: 1149px) {
        .index-component .furniture__text {
          margin-bottom: 40px; } }
      @media all and (max-width: 640px) {
        .index-component .furniture__text {
          font-size: 18px;
          margin-bottom: 30px; } }
  .index-component .counter-block {
    max-width: 1420px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 74px 34px;
    align-items: center; }
    @media all and (max-width: 1149px) {
      .index-component .counter-block {
        padding: 50px 22px; } }
    @media all and (max-width: 840px) {
      .index-component .counter-block {
        padding: 40px 15px; } }
    @media all and (max-width: 640px) {
      .index-component .counter-block.desc {
        display: none; } }
    @media all and (min-width: 641px) {
      .index-component .counter-block.mobile {
        display: none; } }
    .index-component .counter-block__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%; }
      @media all and (max-width: 1149px) {
        .index-component .counter-block__item {
          width: 30%; } }
      @media all and (max-width: 640px) {
        .index-component .counter-block__item {
          width: 320px;
          margin: 0 auto;
          max-width: 100%; } }
    .index-component .counter-block__title {
      font-size: 48px;
      color: #fff;
      margin-bottom: 30px;
      font-family: "h-s", serif; }
      @media all and (max-width: 1149px) {
        .index-component .counter-block__title {
          font-size: 35px;
          margin-bottom: 18px; } }
      @media all and (max-width: 840px) {
        .index-component .counter-block__title {
          font-size: 30px; } }
    .index-component .counter-block__text {
      font-size: 30px;
      color: #fff; }
      @media all and (max-width: 1149px) {
        .index-component .counter-block__text {
          font-size: 25px; } }
      @media all and (max-width: 840px) {
        .index-component .counter-block__text {
          font-size: 20px; } }
      @media all and (max-width: 640px) {
        .index-component .counter-block__text {
          font-size: 18px; } }
  .index-component .orders {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    margin-top: 250px;
    margin-right: auto;
    margin-bottom: 510px;
    text-align: left; }
    @media all and (max-width: 1149px) {
      .index-component .orders {
        margin-top: 170px;
        margin-bottom: 250px; } }
    @media all and (max-width: 840px) {
      .index-component .orders {
        margin-top: 120px; } }
    @media all and (max-width: 768px) {
      .index-component .orders {
        max-width: 80%; } }
    @media all and (max-width: 480px) {
      .index-component .orders {
        margin-top: 70px;
        padding-bottom: 160px;
        margin-bottom: 0;
        max-width: none;
        position: relative; }
        .index-component .orders:after {
          content: "";
          display: block;
          position: absolute;
          width: 180px;
          height: 150px;
          top: auto;
          left: auto;
          right: -15px;
          bottom: 10px;
          background: url("../orders-bg.png") 0 0 no-repeat;
          -webkit-background-size: contain;
          background-size: contain; } }
    .index-component .orders__title {
      font-size: 48px;
      color: #1F1C4B;
      margin-bottom: 40px;
      font-family: "h-b", serif; }
      @media all and (max-width: 1149px) {
        .index-component .orders__title {
          font-size: 40px;
          margin-bottom: 25px; } }
      @media all and (max-width: 640px) {
        .index-component .orders__title {
          font-size: 35px; } }
    .index-component .orders__text {
      font-size: 19px;
      color: #1F1C4B;
      margin-bottom: 58px;
      line-height: 23px; }
      @media all and (max-width: 1149px) {
        .index-component .orders__text {
          font-size: 18px;
          margin-bottom: 40px; } }
  .index-component .documents {
    display: flex;
    flex-direction: column;
    max-width: 505px;
    margin-left: auto;
    margin-bottom: 512px;
    text-align: left; }
    @media all and (max-width: 1149px) {
      .index-component .documents {
        margin-bottom: 270px; } }
    @media all and (max-width: 768px) {
      .index-component .documents {
        max-width: 80%;
        margin-bottom: 350px; } }
    @media all and (max-width: 480px) {
      .index-component .documents {
        max-width: none;
        margin-bottom: 0;
        padding-bottom: 200px;
        position: relative; }
        .index-component .documents:after {
          content: "";
          display: block;
          position: absolute;
          width: 190px;
          height: 160px;
          top: auto;
          left: -15px;
          bottom: 20px;
          background: url("../documents-bg.png") 0 0 no-repeat;
          -webkit-background-size: contain;
          background-size: contain; } }
    .index-component .documents__title {
      font-size: 48px;
      color: #1F1C4B;
      font-family: "h-b", serif;
      margin-bottom: 40px; }
      @media all and (max-width: 1149px) {
        .index-component .documents__title {
          font-size: 40px;
          margin-bottom: 30px; } }
    .index-component .documents__text {
      font-size: 20px;
      color: #1F1C4B;
      margin-bottom: 57px;
      line-height: 24px; }
      @media all and (max-width: 1149px) {
        .index-component .documents__text {
          font-size: 18px;
          margin-bottom: 40px; } }
  .index-component .download {
    border: 1px solid #7C84E4;
    box-sizing: border-box;
    border-radius: 60px;
    padding: 58px 70px;
    text-align: left;
    background: url("../download-bg.jpg") calc(100% + 2px) 0 no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    margin-bottom: 155px; }
    @media all and (max-width: 840px) {
      .index-component .download {
        background: none;
        padding: 40px;
        border-radius: 40px; } }
    @media all and (max-width: 768px) {
      .index-component .download {
        padding: 20px;
        border-radius: 20px;
        margin-bottom: 70px; } }
    @media all and (max-width: 480px) {
      .index-component .download {
        padding: 10px;
        border-radius: 10px; } }
    .index-component .download__text {
      font-size: 30px;
      color: #1F1C4B;
      margin-bottom: 42px;
      max-width: 60%;
      line-height: 37px; }
      @media all and (max-width: 840px) {
        .index-component .download__text {
          max-width: none;
          text-align: center; } }
      @media all and (max-width: 768px) {
        .index-component .download__text {
          font-size: 25px;
          margin-bottom: 20px; } }
      @media all and (max-width: 400px) {
        .index-component .download__text {
          font-size: 20px; } }
    .index-component .download__btn {
      width: 150px;
      height: 50px;
      margin: 0 auto;
      background: url("../google-play.png") 0 0 no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
      cursor: pointer; }
  .index-component .tariff-plan {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-bottom: 175px; }
    @media all and (max-width: 480px) {
      .index-component .tariff-plan {
        margin-bottom: 50px; } }
    .index-component .tariff-plan__title {
      font-size: 36px;
      color: #1F1C4B;
      font-family: "h-b", serif;
      padding-bottom: 12px;
      position: relative;
      margin-bottom: 148px; }
      @media all and (max-width: 1149px) {
        .index-component .tariff-plan__title {
          margin-bottom: 80px; } }
      @media all and (max-width: 840px) {
        .index-component .tariff-plan__title {
          margin-bottom: 50px; } }
      @media all and (max-width: 768px) {
        .index-component .tariff-plan__title {
          font-size: 30px; } }
      @media all and (max-width: 480px) {
        .index-component .tariff-plan__title {
          font-size: 28px;
          margin-bottom: 30px; } }
      @media all and (max-width: 400px) {
        .index-component .tariff-plan__title {
          font-size: 22px; } }
      .index-component .tariff-plan__title:before {
        content: "";
        display: block;
        position: absolute;
        top: auto;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 54px;
        background: #1F1C4B; }
    .index-component .tariff-plan__list {
      display: flex;
      justify-content: space-around; }
      @media all and (max-width: 640px) {
        .index-component .tariff-plan__list.desc {
          display: none; } }
      @media all and (min-width: 641px) {
        .index-component .tariff-plan__list.mobile {
          display: none; } }
      .index-component .tariff-plan__list .tariff {
        display: flex;
        flex-direction: column;
        background: #FFFFFF;
        box-shadow: 0px 10px 20px #EEF1F4;
        width: 414px;
        padding: 55px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
        @media all and (max-width: 840px) {
          .index-component .tariff-plan__list .tariff {
            padding: 30px 15px;
            width: 300px; } }
        @media all and (max-width: 640px) {
          .index-component .tariff-plan__list .tariff {
            max-width: 100%;
            margin: 0 auto; } }
        .index-component .tariff-plan__list .tariff__info {
          display: flex;
          align-items: center;
          margin-bottom: 47px;
          min-height: 82px; }
        .index-component .tariff-plan__list .tariff__pic {
          margin-right: 40px; }
        .index-component .tariff-plan__list .tariff__name-wr {
          display: flex;
          flex-direction: column; }
        .index-component .tariff-plan__list .tariff__name {
          font-size: 20px;
          color: #201D4C;
          font-family: "h-b", serif;
          margin-bottom: 5px; }
        .index-component .tariff-plan__list .tariff__price {
          font-size: 23px;
          color: #201D4C;
          font-family: "h-b", serif; }
    .index-component .tariff-plan__text {
      color: #201D4C;
      font-size: 20px;
      margin-bottom: 28px; }
      @media all and (max-width: 840px) {
        .index-component .tariff-plan__text {
          font-size: 18px; } }
      .index-component .tariff-plan__text span {
        display: block;
        margin-bottom: 22px;
        line-height: 22px; }
    .index-component .tariff-plan__btn {
      font-size: 17px;
      font-family: "h-b", serif;
      color: #FE5D19;
      border: 2px solid #FE5D19;
      box-sizing: border-box;
      border-radius: 45px;
      width: 160px;
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: 0.4s; }
      .index-component .tariff-plan__btn:hover {
        background: #FE5D19;
        color: #fff; }
  .index-component .bot-menu {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px 0 0 0;
    border-top: 2px solid #E7EDF3; }
    .index-component .bot-menu__logo {
      width: 74px;
      height: 48px;
      -webkit-background-size: contain;
      background-size: contain;
      background: url("../bot-logo.png") 0 0 no-repeat; }
    .index-component .bot-menu__menu .nav-item .nav-link {
      font-size: 18px;
      color: #192057;
      font-family: "h-s", serif;
      padding: 0.5rem 19px; }
    @media all and (max-width: 768px) {
      .index-component .bot-menu__menu {
        display: none; } }
  .index-component .bm-burger-button {
    display: none;
    position: fixed;
    z-index: 999; }
    .index-component .bm-burger-button .bm-burger-bars {
      background: #192057; }
    @media all and (max-width: 1024px) {
      .index-component .bm-burger-button {
        display: block; } }
  .index-component .bm-menu {
    background: #192057;
    z-index: 1000; }
    .index-component .bm-menu .nav {
      display: flex;
      flex-direction: column; }
      .index-component .bm-menu .nav .nav-item .nav-link {
        font-size: 18px;
        color: #fff;
        font-family: "h-s", serif;
        padding: 0.5rem 19px;
        text-align: left; }
  .index-component .VueCarousel-dot {
    padding: 0 !important;
    margin: 5px !important; }
  .index-component .VueCarousel-dot--active {
    background: #FE5D19 !important; }
  .index-component .VueCarousel-slide {
    max-width: 100%; }

/*# sourceMappingURL=index.css.map */
